.input_size_m
    .input__control, .input__placeholder, .input__tel-code
        padding: 20px 24px
        adjust-font-size: 18px

    .input__label
        top: 9px
        adjust-font-size: 11px
        padding: 0 24px

    &.input_empty
        .input__label
            top: 3px

    &.input_type_tel
        .input__placeholder, .input__control
            padding-left: 50px

    .input__clear
        width: 14px
        height: 14px
        right: 15px
        top: 19px

    &.input_hasClear, &.input_hasArrow
        .input__control
            padding-right: 44px

    .select__popup
        .menu-item
            padding: rhythm(.75) 24px
            adjust-font-size: 18px

    .down-arrow
        width: 15px
        height: 8px
        right: 20px
        top: 28px
