.checkbox_size_m
    line-height: 18px

    &::before
        width: 18px

    .checkbox__tick
        width: 14px
        height: 14px
        top: 2px
        left: 2px

    .checkbox__label
        padding 0 0 0 27px
        font-size: 14px
