.checkbox_size_s
    line-height: 14px

    &::before
        width: 14px

    .checkbox__tick
        width: 10px
        height: 10px
        top: 2px
        left: 2px

    .checkbox__label
        padding 0 0 0 19px
        font-size: 13px
